*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,html{
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#app{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


nav{
  color: white;
  padding: relative;
  z-index: 3;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 2rem;

}



nav a{
  text-decoration: none;
  /* text-shadow: 5px 2px 5px gray; */
  color: white;
  font-weight: bold;

}




